/* CSS de Sección "CONTACT US" */

.contactus-form {
  padding: 40px 20px;
  max-width: 60%;
  margin: auto;
}
.bg-warning-form {
  background-color: $amarillo;
  font-family: $tipografia-form;
}
.form-check-input{
  background-color: $amarillo;
  border-color: $black;
}
input:hover{
  background-color: $gris;
}
 



